#content { margin-top: 10%;}

@at-root {
  md-tab-group {
    width: 25vw;
  }

}

.fullWidth {
  width:100%;
}

.logo {
  width:15vw;
}

md-card {
//  background-color: rgba(40, 81, 160, 0.3);
  background-color: rgb(255, 255, 255);
  box-shadow: none !important;
  color:black;
}

#cardFooter {
  background: #cbd1db;
  height: 3em;
  color:rgb(79,79,79);
}

.socialNetworkButton {
  height: 100%;
}

.socialNetworkButton:hover {
  cursor: pointer;
  background: #6a707a;
}
