<div [ngSwitch]="type">
  <div *ngSwitchCase="'shortText'">
    <formy-type-short-text #field></formy-type-short-text>
  </div>
  <div *ngSwitchCase="'longText'">
    <formy-type-long-text #field></formy-type-long-text>
  </div>
  <div *ngSwitchCase="'singleChoice'">
    <formy-type-single-choice #field></formy-type-single-choice>
  </div>
  <div *ngSwitchCase="'multipleChoice'">
    <formy-type-multiple-choice #field></formy-type-multiple-choice>
  </div>
  <div *ngSwitchCase="'date'">
    <formy-type-date #field></formy-type-date>
  </div>
  <div *ngSwitchCase="'linearScale'">
    <formy-type-linear-scale #field></formy-type-linear-scale>
  </div>
</div>
