md-card{
  font-family: "Fira Sans";
  margin-bottom: 15px;
}

md-card-title{
  color: #505155;
  font-size:16px;
  margin-bottom: 5px;
}

md-card-subtitle{
  font-size:12px;
}

md-card-footer{
  height: auto;
}

#templatePreviewImage {
  cursor: pointer;
}
