<md-card>
  <img id="templatePreviewImage" md-card-image src="../../../../assets/images/formCard.svg" (click)="editForm()">
  <md-card-title>{{ form.title }}</md-card-title>
  <md-card-subtitle>
    {{ form.createdAt | date }}
  </md-card-subtitle>
  <md-card-footer fxLayout="row" fxLayoutAlign="end center">
    <md-menu #formMore="mdMenu">
      <button md-menu-item (click)="openDialog()">
        <md-icon>share</md-icon>
        Share
      </button>
      <button md-menu-item (click)="downloadFormAsJson()">
        <md-icon>file_download</md-icon>
        Download as JSON
      </button>
      <button md-menu-item (click)="openLabelDialog()">
        <md-icon>label</md-icon>
        Add Label
      </button>
      <button md-menu-item>
        <md-icon>delete</md-icon>
        Delete
      </button>
    </md-menu>

    <button class="formMoreButton" md-icon-button [mdMenuTriggerFor]="formMore">
      <md-icon>more_horiz</md-icon>
    </button>
  </md-card-footer>
</md-card>
