<md-card>
  <img md-card-image src="../../../../assets/images/formCard.svg">
  <md-card-title>Form Example</md-card-title>
  <md-card-subtitle>
    Apr 30, 13.37 KB
  </md-card-subtitle>
  <md-card-footer fxLayout="row" fxLayoutAlign="end center">
    <md-menu #formMore="mdMenu">
      <button md-menu-item>
        <md-icon>share</md-icon>
        Share
      </button>
      <button md-menu-item>
        <md-icon>file_download</md-icon>
        Download as PDF
      </button>
      <button md-menu-item>
        <md-icon>label</md-icon>
        Add Label
      </button>
      <button md-menu-item>
        <md-icon>delete</md-icon>
        Delete
      </button>
    </md-menu>

    <button class="formMoreButton" md-icon-button [mdMenuTriggerFor]="formMore">
      <md-icon>more_horiz</md-icon>
    </button>
  </md-card-footer>
</md-card>
