<nav><formy-navbar></formy-navbar></nav>
<div id="content" fxLayout="column" fxLayoutAlign="start center">

    <md-tab-group id="answersContainer">
      <md-tab label="Summary">
        <md-card>
          <formy-answer-abstract type='text'></formy-answer-abstract>
          <formy-answer-abstract type='single'></formy-answer-abstract>
          <formy-answer-abstract type='multiple'></formy-answer-abstract>
          <formy-answer-abstract type='linear'></formy-answer-abstract>
        </md-card>
      </md-tab>
      <md-tab label="Individual">
        <md-card>
          Individual answers here.
        </md-card>
      </md-tab>
    </md-tab-group>
</div>
