<nav><formy-navbar></formy-navbar></nav>
<div id="content" fxLayout="column" fxLayoutAlign="start center">
  <md-card id="answersContainer">
    <md-tab-group>
      <md-tab label="Summary">
        <formy-answer-abstract type='text'></formy-answer-abstract>
        <formy-answer-abstract type='single'></formy-answer-abstract>
        <formy-answer-abstract type='multiple'></formy-answer-abstract>
      </md-tab>
      <md-tab label="Individual">
        Individual answers here.
      </md-tab>
    </md-tab-group>
  </md-card>
</div>
