#navbarContent {
  width: 100%;
}

md-icon {
  display: inline;
}

#searchFieldContainer {
  background: white;
  border: hidden;
  border-radius: 50px;
  height: 2em;
  color: black;
  padding:10px;
}

#searchField {
  border: none;
  outline: 0;
  font:inherit;
}
