<md-toolbar color="primary">
  <div id="navbarContent" fxLayout="row" fxLayoutAlign="space-between center">
    <a [routerLink]="['/user']" hreg="." style="text-decoration: none; color:white"><div id="logo" fxFlex="20">Formy</div></a>
    <div id="controls" fxFlex="65" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%">
      <div id="searchFieldContainer" fxLayout="row" fxLayoutAlign="center center">
        <input mdInput type="text" placeholder="Search forms" id="searchField">
        <md-icon>search</md-icon>
      </div>
      <a [routerLink]="['/build-form']" style="text-decoration: none; color:white">
        <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%" >
        <md-icon>add_circle</md-icon>
        <span>New Form</span>
        </span>
      </a>
      <span fxLayout="row" fxLayoutAlign="start center">
        <md-icon>file_upload</md-icon>
        <span>Upload</span>
      </span>
    </div>
    <div id="options" fxFlex="15" fxLayout="row" fxLayoutAlign="space-around center">
      <md-icon>account_circle</md-icon>
      <p>Username</p>
      <button md-icon-button [mdMenuTriggerFor]="settingsMenu">
        <md-icon>settings</md-icon>
      </button>

      <md-menu #settingsMenu="mdMenu">
        <button md-menu-item [routerLink]="['/editProfile']">Change settings</button>
        <button md-menu-item [routerLink]="['/edit-password']">Change password</button>
      </md-menu>
    </div>
  </div>
</md-toolbar>
