/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

nav {
  flex: none;
}

#content {
  flex:1;
  height: 100%;
}
