<nav><formy-navbar></formy-navbar></nav>
<div id="content" fxLayout="row" fxLayoutAlign="start stretch">
  <div id="sidebar" fxFlex="15%">
    <md-list>

      <h3 md-subheader>Main</h3>
      <md-list-item>
        <button md-button>
          <i class="material-icons">description</i>
          <span>Forms</span>
        </button>
      </md-list-item>
      <md-list-item>
        <button md-button>
          <i class="material-icons">backup</i>
          <span>Uploaded Forms</span>
        </button>
      </md-list-item>

      <h3 md-subheader>Labels</h3>
      <md-list-item>
        <button md-button>
          <i class="material-icons">label</i>
          <span>Label 1</span>
        </button>
      </md-list-item>
      <md-list-item>
        <button md-button>
          <i class="material-icons">label</i>
          <span>Label 2</span>
        </button>
      </md-list-item>
      <md-list-item>
        <button md-button>
          <i class="material-icons">label</i>
          <span >Label 3</span >
        </button>
      </md-list-item>
    </md-list>

  </div>
  <div id="main" fxFlex="90%" fxLayout="row" fxLayoutGap="3%" fxLayoutWrap>
    <formy-form-preview [title]="'Form1'" [moreInfo]="'Apr 30, 13kb'" fxFlex="15%"></formy-form-preview>
    <formy-form-preview [title]="'Form2'" [moreInfo]="'May 1, 12kb'" fxFlex="15%"></formy-form-preview>
  </div>
</div>
