<nav><formy-navbar></formy-navbar></nav>
<div id="content" fxLayout="row" fxLayoutAlign="start stretch">
  <div id="sidebar" fxFlex="15%">
    <md-list>

      <h3 md-subheader>Main</h3>
      <md-list-item>
        <i class="material-icons">description</i>
        <span>Forms</span>
      </md-list-item>
      <md-list-item>
        <i class="material-icons">backup</i>
        <span>Uploaded Forms</span>
      </md-list-item>

      <h3 md-subheader>Labels</h3>
      <md-list-item>
        <i class="material-icons">label</i>
        <span>Label 1</span>
      </md-list-item>
      <md-list-item>
        <i class="material-icons">label</i>
        <span>Label 2</span>
      </md-list-item>
      <md-list-item>
        <i class="material-icons">label</i>
        <span>Label 3</span>
      </md-list-item>
    </md-list>

  </div>
  <div id="main" fxFlex="90%" fxLayout="row" fxLayoutGap="3%" fxLayoutWrap>
      <formy-form-preview fxFlex="15%"></formy-form-preview>
    <div *ngFor="let form of forms; let i = index">
      <formy-form-preview fxFlex="15%"></formy-form-preview>
    </div>
  </div>
</div>
