<div class="dialog-wrapper" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
  <h1 md-dialog-title class="mat-dialog-title" fxFlex="100%">Share link with others</h1>
  <div md-dialog-content class="mat-dialog-content">
    <div class="link">
      <span>Link:</span>
      <input class="link-management-url" readonly="readonly" type="text" value="http://formy.com/form/id/1UL9ihueJrqVkfUM43ZDL1K3NMnCzmgGF0lZKp5uMm7w">
      <button md-button>
        Copy Link
      </button>
    </div>
  </div>
</div>
