<div class="dialog-wrapper" fxLayout="column" fxLayoutAlign="start left" fxLayoutWrap>
  <h1 md-dialog-title class="mat-dialog-title" fxFlex="100%">Share form with others</h1>
  <div md-dialog-content class="mat-dialog-content" fxFlex="100%">
    <md-input-container>
      <input mdInput placeholder="Link" value="http://formy.com/form/id/1UL9ihueJrqVkfUM43ZDL1K3NMnCzmgGF0lZKp5uMm7w" readonly="readonly" type="url" >
    </md-input-container>
    <button md-button id="copyButton">
      Copy Link
    </button>
  </div>
</div>
