<div id="content" fxLayout="column" fxLayoutAlign="start center">
  <md-card class="container">
    <md-card-title>{{formTemplateToFill.title}}</md-card-title>
    <md-card-subtitle>{{formTemplateToFill.description}}</md-card-subtitle>
    <md-card-content fxLayout="column" fxLayoutGap="2%">
      <div *ngFor="let field of formTemplateToFill.fields">
        <formy-fill-field [field]="field" [formId]="id"></formy-fill-field>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="submit()">Submit</button>
    </md-card-actions>
  </md-card>
</div>
