<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%">
  <span>From</span>
  <md-select [(ngModel)]="shareFromEditableService.form.fields[positionInArray].options.min">
    <md-option *ngFor="let minVal of minVals" [value]="minVal">
      {{minVal}}
    </md-option>
  </md-select>
  <span>to</span>
  <md-select [(ngModel)]="shareFromEditableService.form.fields[positionInArray].options.max">
    <md-option *ngFor="let maxVal of maxVals" [value]="maxVal">{{maxVal}}</md-option>
  </md-select>
</div>
