.btn{
	padding: 4px;
    margin-left: 40px;
    width: 30%;
    border: 1px solid #305a98;
    color: white;
    border-radius: 8px;
    background-color: #305a98;
    font-size: 18px;
}

.btn:hover{
	background-color: #08365a;
}
