<form class="container" [formGroup] = "form" (ngSubmit)="onSubmit(userForm.value)">
      <input type = "text" name = "currentPassword" placeholder="Current password" formControlaName="currentPassword">
      <br>
      <input type = "text" name = "newPassword" placeholder="New password" formControlaName="newPassword">
      <br>
      <input type = "text" name = "newTwoPassword" placeholder="Confirm new password" formControlaName="confirmNewPassword">
      <br><br>
      <input type="submit" [disabled] = "!form.valid" value="submit"
</form>