<form class="container" #myForm="ngForm">
  <input #currentPassword="ngModel" type = "text" name = "currentPassword" placeholder="Current password" [(ngModel)]="myForm.currentPassword">
  <br>
  <input #newPassword="ngModel" type = "text" name = "newPassword" placeholder="New password" [(ngModel)]="myForm.newPassword">
  <br>
  <input #confirmNewPassowrd="ngModel" type = "text" name = "newTwoPassword" placeholder="Confirm new password" [(ngModel)]="myForm.confirmNewPassword">
  <br><br>
  <button [disabled] = "!myForm.valid || (myForm.newPassword != myForm.confirmNewPassword)" (click)="submit(myForm)">Submit</button>
</form>
