.container{
	font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    position: relative;
    background-color: #f4f4f4;
    margin: 0 auto;
    padding: 16px 25px;
    border-radius: 30px;
    background-color:white;
    
}
md-input-container{
	width:90%;
}

.formContainer{
	margin-top: 70px;
    margin-left: auto;
    margin-right: auto;

}
.btn-submit{
	height: 45px;
    width: 65%;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #305a98;
    background-color: #305a98;
    font-size: 18px;
    margin: 12px 0;
    color:white;
}
.btn-submit:hover{
	background-color: #08365a;
}

img{
	width: 100px;
	vertical-align: middle;
    margin-bottom: 0.75em;
}
.textChangePass{
	font-size: 20px;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    color: #3f3f3f;
}