<div id="content" fxLayout="column" fxLayoutAlign="start center">
  <div class="formContainer">
  <form class="container" #myForm="ngForm">
    <div style="text-align: left"> <img src="https://image.shutterstock.com/z/stock-photo-password-protected-icon-data-protection-by-using-strong-safe-passwords-recover-and-change-for-174941666.jpg"/>
      <div class="textChangePass">Change password</div>
    </div>
    <div class="contain">
            <md-input-container>
              <input mdInput type = "password" name = "currentPassword" placeholder="Current password" [(ngModel)]="myForm.currentPassword"/>
            </md-input-container>
          </div>
          <div class="contain">
                <md-input-container>
                  <input mdInput type = "password" name = "currentPassword" placeholder="Current password" [(ngModel)]="myForm.newPassword"/>
                </md-input-container>
          </div>
          <div class="contain">
                <md-input-container>
                  <input mdInput type = "password" name = "newTwoPassword" placeholder="Confirm new password" [(ngModel)]="myForm.confirmNewPassword"/>
                </md-input-container>
          </div>
    <button md-button class="btn-submit" (click)="openDialog()">Change password</button>
  </form>
</div>
</div>
